@media only screen and (max-width: 765px) {
  #toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    cursor: pointer;
  }

  #toggle::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 2px;
    background: white;
    transform: translateY(-5px);
    transition: 0.2s;
  }

  #toggle::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 2px;
    background: white;
    transform: translateY(5px);
    transition: 0.2s;
  }

  #toggle.active::before {
    transform: translateY(0px) rotate(45deg);
  }

  #toggle.active::after {
    transform: translateY(0px) rotate(-45deg);
  }

  #sidebar {
    position: fixed;
    top: 0;
    left: 0px;
    width: 300px;
    height: 100vh;
    transition: 0.5s;
  }

  #sidebar ul {
    position: relative;
    margin-top: 50px;
  }

  #sidebar li {
    display: inline;
  }

  #sidebar ul li {
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: 10px 40px;
  }
}
