nav ul li {
  display: inline;
}

nav li a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 22px;
  font-family: sans-serif;
  z-index: 5;
}

nav ul a:hover {
  color: moccasin;
  background-color: black;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

a {
  display: inline-block;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition);
}

#container {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

#container #bio {
  position: relative;
  width: 100%;
}

#container #project {
  position: relative;
  width: 100%;
  height: 100%;
}

#container #connect {
  position: relative;
  width: 100%;
  height: 100%;
}

#connect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  line-height: 2;
  letter-spacing: 3px;
}

#connect button {
  border-radius: 30px;
  border-color: palegreen;
  cursor: pointer;
}

#connect button:hover {
  background-color: moccasin;
}
#bio {
  position: relative;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  flex-direction: column;
  line-height: 2px;
}

.intro-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-style: solid;
  border-color: moccasin;
  line-height: 0.8;
  margin: 100px 215px 100px 215px;
  height: fit-content;
}

.intro-div h1 {
  text-align: center;
}

#bio h1 {
  font-size: 50px;
  text-shadow: 6px 6px moccasin;
}

.intro-div p {
  line-height: 1.5;
}

.intro-div h2 {
  line-height: 1.5;
}

#project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  flex-direction: column;
  font-weight: 600;
  margin-top: 100px;
}

#project img {
  border-radius: 32px;
}

#smile {
  position: relative;
  height: auto;
  border-radius: 25px;
  width: 75%;
}

.skills {
  position: relative;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  border-color: moccasin;
  border-style: outset;
  width: 80%;
  line-height: 1.7;
  font-weight: 600;
}

.project-div {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  top: 105px;
}

.pj {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background: moccasin;
  color: mediumspringgreen;
  border-radius: 50%;
  border-color: moccasin;
  animation: pulse 3s linear infinite;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(245, 153, 78, 0.952),
      0 0 0 0 rgba(245, 153, 78, 0.952);
  }
  40% {
    box-shadow: 0 0 0 50px rgba(245, 153, 78, 0.952),
      0 0 0 0 rgba(245, 153, 78, 0.952);
  }
  80% {
    box-shadow: 0 0 0 50px rgba(245, 153, 78, 0.952),
      0 0 0 30px rgba(245, 153, 78, 0.952);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(245, 153, 78, 0.952),
      0 0 0 30px rgba(245, 153, 78, 0.952);
  }
}

.gift {
  position: relative;
  width: 75%;
  animation-name: video;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  height: auto;
}

.go {
  display: none;
}

@keyframes video {
  1% {
    width: 125px;
    text-shadow: 0 0 0 0 rgba(245, 153, 78, 0.952),
      0 0 0 0 rgba(245, 153, 78, 0.952);
  }
  25% {
    width: 250px;
    text-shadow: 0 0 0 0 rgba(245, 153, 78, 0.952),
      0 0 0 0 rgba(245, 153, 78, 0.952);
  }
  50% {
    width: 375px;
    text-shadow: 0 0 0 0 rgba(245, 153, 78, 0.952),
      0 0 0 0 rgba(245, 153, 78, 0.952);
  }
  100% {
    width: 500px;
    text-shadow: 0 0 0 0 rgba(245, 153, 78, 0.952),
      0 0 0 0 rgba(245, 153, 78, 0.952);
  }
}

.live {
  display: block;
  position: relative;
}

.github {
  display: block;
  position: relative;
}

.lid1 {
  display: none;
}

.lid2 {
  display: none;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li img {
  display: none;
  position: relative;
  z-index: 5;
  width: 600px;
  left: 500px;
}

li:hover img {
  display: block;
}

.skill-sect {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.linkedin-quotes {
  display: none;
}

@media only screen and (max-width: 900px) {
  .skills {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 765px) {
  nav ul {
    position: fixed;
    right: 0px;
    font-size: 22px;
    font-family: sans-serif;
  }
  nav ul li {
    display: block;
  }

  .intro-div {
    margin: 100px 215px 100px 10px;
  }
}
